<header class="header">
  <a class="logo" href="javascript:">
    <img src="images/logo.png" alt="Logo">
  </a>
  <div class="header-container">
    <div class="pull-right">
      <form class="search-box" action="https://www.baidu.com/s" target="_blank">
        <label for="input-search">
          <span class="iconfont icon-search"></span>
        </label>
        <input id="input-search" type="text" placeholder="搜索" name="wd">
      </form>
      <a href="javascript:" class="login">
        <span class="iconfont icon-user"></span> 登录
      </a>
    </div>
  </div>
</header>