<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <meta charset="utf-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>任务九：使用HTML/CSS实现一个复杂页面</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1458116135_1857908.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/favicon.png">
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
{% include "header.html" %}
{% include "breadcrumb.html" %}
{% include "body.html" %}
{% include "sidebar.html" %}
</body>
</html>
