nav ul, .labels ul, .columns ul, article.module section ul, .articles article ul.imgs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.labels ul li figure img, .columns ul li figure img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.labels, article.module, .articles article {
  padding-left: .3rem;
  padding-right: .3rem;
}

body {
  margin: 0;
  font-size: .35rem;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  box-sizing: border-box;
  background-color: #F5F5F5;
  color: #333;
}

body > header {
  height: 1.15rem;
  line-height: 1.15rem;
  background-color: #91D4DA;
  position: relative;
}

body > header h1, body > header a {
  font-size: .4rem;
  color: white;
}

body > header a.goback {
  position: absolute;
  left: .3rem;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
}

body > header a.goback img {
  height: .5rem;
  vertical-align: sub;
}

body > header h1 {
  margin: 0;
  text-align: center;
}

body > .banner {
  width: 100%;
  display: block;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
}

nav {
  height: 1.15rem;
  background-color: #fff;
}

nav ul {
  display: flex;
  height: 100%;
  line-height: 1.15rem;
}

nav ul li {
  flex: 1;
  color: #656565;
  text-align: center;
  display: inline-block;
}

nav ul li.active {
  border-bottom: 0.1rem solid #91D4DA;
}

.labels {
  background-color: #fff;
}

.labels ul {
  border-bottom: 0.05rem solid #ECECEC;
  display: flex;
}

.labels ul li {
  flex: 1;
  text-align: center;
  padding-top: .45rem;
  padding-bottom: .50rem;
}

.labels ul li figure {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 auto;
  background: #00C7D6;
  border-radius: 100%;
  position: relative;
}

.labels ul li figure img {
  width: .61rem;
  height: .80rem;
}

.labels ul li p {
  padding-top: .45rem;
  margin: 0;
}

.columns {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.columns ul {
  display: flex;
}

.columns ul li {
  flex: 1;
  text-align: center;
}

.columns ul li:not(:last-child) {
  border-right: 0.05rem solid #ECECEC;
}

.columns ul li figure {
  height: 2rem;
  position: relative;
}

.columns ul li figure img {
  width: 1.7rem;
}

.columns ul li h2 {
  font-size: .5rem;
}

.columns ul li h3 {
  font-size: .35rem;
  color: #5B5B5B;
}

article.module {
  background-color: #fff;
  margin-top: .35rem;
}

article.module header {
  font-size: .5rem;
  line-height: 1.2rem;
  height: 1.2rem;
  border-bottom: 0.05rem solid #ECECEC;
  margin-bottom: .4rem;
}

article.module section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: .3rem;
}

article.module section img {
  width: 2.43rem;
  height: 2.27rem;
  border: .02rem solid #FEB832;
}

article.module section ul {
  width: 6.55rem;
  height: 2.27rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

article.module section li {
  width: 3.2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background-color: #F8F8F8;
}

.articles {
  background-color: #fff;
  margin-top: .35rem;
}

.articles article {
  border-bottom: 0.05rem solid #ECECEC;
  padding-top: .25rem;
  padding-bottom: .25rem;
  display: flex;
}

.articles article img {
  width: 2.8rem;
  height: 2rem;
  margin-right: .3rem;
}

.articles article section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.articles article header {
  font-size: .48rem;
  flex: 1;
}

.articles article aside {
  font-size: .35rem;
  color: #C6C6C6;
}

.articles article ul.imgs {
  display: flex;
  margin-top: .2rem;
}

.articles article ul.imgs li {
  flex: 1;
  margin: .04rem;
}

.articles article ul.imgs li img {
  width: 100%;
}
