.body {
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: 1460px) {
    padding-left: 280px;
    padding-right: 20px;
    width: 100%;
  }
}

.body-container {
  width: 900px;
  margin: auto;
  padding-bottom: 20px;
}
